.container {
    background-color: #EFF2F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


h3 {
    margin-bottom: 45px;
    color: #333;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align:center;
    width: 200px;
    height: 200px;
}

li h4 {
    margin: 0;
    font-size: 18px;
    color: #222;
}

li p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}


.bookButton {
    position: absolute;
    bottom: 20px;
    right: 20%;
}

.bookButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
.bookButton:hover:not(:disabled) {
    background-color: #0056b3;
}